{
    "FILTER_USERS": "*",
    "FILTER_AD_USERS_GET_ATT": ["DisplayName","CN","sn","GivenName","mail","SamAccountName","userPrincipalName","userAccountControl","proxyAddresses","mailNickName","c","preferredLanguage","msDS-cloudExtensionAttribute1",'msDS-cloudExtensionAttribute2',"msDS-cloudExtensionAttribute3","targetAddress"],
    "FILTER_AD_USERS_UPDATE_ATT": ["DisplayName","sn","GivenName","mail","mailNickName","proxyAddresses","c", "preferredLanguage","msDS-cloudExtensionAttribute1",'msDS-cloudExtensionAttribute2',"msDS-cloudExtensionAttribute3", "targetAddress"],

    "FILTER_GROUPS": "GroupScope -ne \"DomainLocal\"",
    "FILTER_AD_GROUPS_GET_ATT": ["cn","samAccountName","displayName","MailNickName","msExchRequireAuthToSendTo","publicDelegates","ProxyAddresses","mail","extensionAttribute1"],
    "FILTER_AD_GROUPS_UPDATE_ATT": ["displayName","MailNickName","msExchRequireAuthToSendTo","publicDelegates","ProxyAddresses","mail","extensionAttribute1"],

    "FILTER_OUS": "*"
}